.delivery-wrap {
    padding: 12px;
}

.delivery-content {
    display: flex;

    .deliver-right {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 10px;
        border: 1px solid #ccc;
        padding: 10px;

        .step {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            text-align: center;
            border-radius: 50%;
            background-color: #1677ff;
            color: #fff;
            margin-bottom: 10px;
        }

        .first {
            /* margin-bottom: 10px; */
        }

        .basic-info-wrap {
            /* margin-bottom: 10px; */
            .basic-info-form {
                width: 100%;
                .mb-10 {
                    margin-bottom: 10px;
                }
            }
            
        }
        
        .second {
            margin-top: 10px;
        }

        .third{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .excel-preview {
        position: relative;
        border: 1px solid #ccc;
        width: 75vw;
        overflow: hidden;
        .preiew-luckysheet {
            margin:0px;
            padding:0px;
            position:absolute;
            width:100%;
            height:100%;
            left: 0px;
            top: 0px;
        }
    }


}

.block-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.block-title::before {
    display: inline-block;
    content: '';
    width: 4px;
    height: 14px;
    background-color: #1677ff;
    margin-right: 6px;
}